<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Real Estate API</title>
    <!-- can add an icon if we want later
    <link rel="shortcut icon" href="%PUBLIC_URL%/<SOME ICON>.ico">
    -->
</head>
<body>
    <h1 id="title">WELCOME TO Real Estate APP</h1>

    <form id="LoginForm" action="/" method="post">
          <h3>Sign In</h3>

              <input type="text" class="form-control" name="username" placeholder="User ID" required><!--
  -->

              <input name="password" type="password" placeholder="Password" class="form-control">
                <input type="submit" id="login-btn" value="Login" class="btn float-right login_btn">
          </form>
          <form id="SignUpForm" action="/signup" method="post">
                <h3>Sign Up</h3>

                    <input type="text" class="form-control" name="username" placeholder="User ID" required><!--
        -->

                    <input name="password" type="password" placeholder="Password" class="form-control">
                      <input type="submit"  value="SignUp" class="btn float-right login_btn">
                </form>

</body>
</html>
